{% extends 'student_template/base_template.html' %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;">
Dashboard
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="{% url 'student_profile_save' %}" method="post">
            {% csrf_token %}
            <div class="card-body">
              <section id="student-detail-section header">
                <div id="student-detail-section--inner">
                  <div class="container">
                    <div class="row py-2">
                      <div class="col-3">
                        <img class="student-profile-img" src="{{ student.profile_pic }}" alt="" width="200" height="200"
                          style="border-radius: 50%;
                      box-shadow: -1px 4px 13px -6px rgb(94, 92, 92);">
                      </div>
                      <div class="col-9 d-flex">
                        <ul class="student_profile_data p-0" style="list-style-type: none;">
                          <li>
                            Name : <span class="data">{{ user.first_name }} {{ user.last_name }}</span>
                          </li>
                          <li>
                            Class : <span class="data">{{ student.course_id.course_name }}</span>
                          </li>
                          <li>
                            Roll Number : <span class="data">{{ student.roll_number }}</span>
                          </li>
                          <li>
                            Contact Number : <span class="data">{{ student.ph_no }}</span>
                          </li>
                          <li>
                            Date Of Birth : <span class="data">{{ student.dob | date:'d-m-Y' }}</span>
                          </li>
                          <li>
                            Gender : <span class="data">{{ student.gender }}</span>
                          </li>
                          <li>
                            Blood Group : <span class="data">{{ student.blood_group }}</span>
                          </li>
                          <li>
                            Session : <span class="data">{{ student.session_year_id.session_start_year }} to
                              {{student.session_year_id.session_end_year }}</span>
                          </li>
                          <li>
                            Email ID : <span class="data">{{ user.email }}</span>
                          </li>
                        </ul>
                        <ul class="p-0  ml-5" style="list-style-type: none;">
                          <!-- <li>
                            Contact Number : <span class="data">{{ student.ph_no }}</span>
                          </li> -->
                          <li>
                            Address : <span class="data">{{ student.address }}</span>
                          </li>
                          <li>
                            Parent Email ID : <span class="data">{{ user2.email }}</span>
                          </li>
                          <li>
                            Father's Name : <span class="data">{{ parent.father_name }}</span>
                          </li>
                          <li>
                            Father's Occupation : <span class="data">{{ parent.father_occupation }}</span>
                          </li>
                          <li>
                            Mother's Name : <span class="data">{{ parent.mother_name }}</span>
                          </li>
                          <li>
                            Mother's Occupation : <span class="data">{{ parent.mother_occupation }}</span>
                          </li>
                          <li>
                            Emergency Contact: <span class="data">{{ parent.parent_ph_no }}</span>
                          </li>
                          <li>
                            Permanent Address : <span class="data">{{ parent.parent_address }}</span>
                          </li>
                        </ul>
                        <!-- <h4>Name : {{ user.first_name }} {{ user.last_name }}</h4>
                        <h4>Class : {{ student.course_id.course_name }}</h4>
                        <h4>Roll Number : {{ student.roll_number }}</h4>
                        <h4>Username : {{ user.username }}</h4>
                        <h4>Date Of Birth : {{ student.dob | date:'d-m-Y' }}</h4>
                        <h4>Gender : {{ student.gender }}</h4>
                        <h4>Blood Group : {{ student.blood_group }}</h4>
                        <h4>Session : {{ student.session_year_id.session_start_year }} TO
                          {{ student.session_year_id.session_end_year }}</h4>
                        <h4>Email ID : {{ user.email }}</h4>
                        <h4>Contact Number : {{ student.ph_no }}</h4>
                        <h4>Address : {{ student.address }}</h4>
                        <h4>Parent Email ID : {{ user2.email }}</h4>
                        <h4>Father's Name : {{ parent.first_name }}</h4>
                        <h4>Father's Occupation : {{ parent.father_occupation }}</h4>
                        <h4>Mother's Name : {{ user2.last_name }}</h4>
                        <h4>Mother's Occupation : {{ parent.mother_occupation }}</h4>
                        <h4>Emergency Contact: {{ parent.parent_ph_no }}</h4>
                        <h4>Permanent Address : {{ parent.parent_address }}</h4> -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <div class="form-group">
                <label>Change Password?</label>
                <input type="password" class="form-control" name="password"
                  placeholder="Fill only if you want to change password">
              </div>
              <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
          </form>
        </div>
        <!-- /.card -->



      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}