{% extends 'student_template/base_template.html' %}
{% load google_translate %}
{% block custom_css %}
<style>
  .col-lg-3.attendance_div_red {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f44336;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .col-lg-3.attendance_div_green {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #388e3c;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
{% endblock custom_css %}
{% block page_title %}
Attendance Data
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
{% google_translate %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">View Attendance Data</h3>

            
            <!-- <h3>{{subject_obj}}</h3> -->
          </div>
          <br>
          {% if attendance_reports %}
          <!-- <h3 style="text-align: center"> {{subject_obj}} {{perc}}%</h3> -->
          <!-- /.card-header -->
          <!-- form start -->

          <div class="col-lg-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Present Vs Absent&nbsp;&nbsp;({{subject_obj}}&nbsp;&nbsp;{{perc}}%)</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                      class="fas fa-times"></i></button>
                </div>
              </div>

              <div class="card-body">

                <canvas id="pieChart"
                  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              
              {% for attendance_report in attendance_reports %}
              {% if attendance_report.status == True %}

              <div class="col-lg-3 attendance_div_green">
                <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b>
                <br>
                <b>[ Status : Present ]</b>
              </div>
              {% else %}
              <div class="col-lg-3 attendance_div_red">
                <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b>
                <br>
                <b>[ Status : Absent ]</b>
              </div>
              {% endif %}
              {% endfor %}
              {% else %}
              <div class="alert alert-danger text-center">No Attendance Data Found!</div>
              {% endif %}
            </div>
          </div>






          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
  $(document).ready(function () {

    var pieData = {
      labels: [
        'present',
        'absent',
      ],

      datasets: [
        {
          data: [{{ attendance_present}}, {{ attendance_absent }}],
      backgroundColor: ['#00a65a', '#f56954'],
  }
                  ]
             };
  var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
  var pieOptions = {
    maintainAspectRatio: false,
    responsive: true,
  }
  //Create pie or douhnut chart
  // You can switch between pie and douhnut using the method below.
  var pieChart = new Chart(pieChartCanvas, {
    type: 'pie',
    data: pieData,
    options: pieOptions
  });
});
</script>
{% endblock custom_js %}