{% extends 'student_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Ask a question
{% endblock page_title %}
{% block main_content %}
{% google_translate %}
<div class="container">
	<div class="row">
		<div class="col-lg-6 offset-lg-4">
			<form method="POST"> 
			        
			    {% csrf_token %} 
			    Are you want to delete this item ? <br><br>
			    <input type="submit" class="btn btn-danger" value="Yes" />
			    &nbsp;&nbsp;&nbsp;&nbsp; 
			    <a href="/profile/my_questions/">Cancel </a> 
			</form> 
		</div>
	</div>
</div>
{% endblock %}