{% extends 'student_template/base_template.html' %}
{% block page_title %}

<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;">
{{subject.subject_name}}

{% endblock page_title %}
{% block main_content %}
<style type="text/css">
	body{
		background-color: #EEEEE0;
	}
	.bread-crumb{
		font-size: 1rem;

	}
	.cats{
		background-color: white;
	}
</style>
{% if subject %}
<br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<h3>{{subject}}</h3>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			
			<span style="font-weight: bolder;font-size: 1.5rem;"><a href="/forum/{{subject}}/questions/new/">Ask a question</a></span>
		

		</div>
			
	</div>
	<hr><br>
</div>

<br><br>

<div class="container cats">
	<br>
	
	<div class="row">
		{% for question in subject_questions %}
			<br>

			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<a href="/forum/questions/{{question.id}}/">{{question.question_title}}</a><br><br>
			</div>
			
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="far fa-arrow-alt-up" style="font-size: 2rem;"></i>{{question.total_upvotes}} <span style="font-size: 1.5rem;font-weight: bolder;" >&uarr;</span>&nbsp;&nbsp;&nbsp;
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				{{question.total_downvotes}} <span style="font-size: 1.5rem;font-weight: bolder;">&darr;</span>&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-alt-down"></i>
			</div>
			
			{% empty %}
			<div class="container" style="text-align: center;">
				<p>Sorry! There are no questions in this forum</p>
			</div>

		{% endfor %}

		</div>
	</div>
			
{% else %}
Sorry this page does not exist
{% endif %}

{% endblock %}
