{% extends 'staff_template/base_template.html' %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;">
Assignment
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->

      <br>
      <section class="content">
          <form role="form" action="/assignments/get_subject/" method="POST">
               {% csrf_token %}
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-4">


                <h4>Select subject </h4>
                <select  class="form-control" name="subject">
                  {% for subject in subjects %}
                  <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                  {% endfor %}
                </select>
                <br><br><br>
                <h4>Select action</h4>
                <select  class="form-control" name="action">
                  
                  <option value="view_assignment">View Assignment</option>
                  <option value="create_assignment">Create Assignment</option>
                  
                </select>
              </div>
          </div>
      </div>
        <br><br><br><br><br><br>
      <div>

        <button class="btn btn-primary" id="fetch_assignments">Go</button>
      </div>
          </form>
      
    </section>



    <!-- /.content -->
{% endblock main_content %}
