
{% extends 'staff_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Resource
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
{% google_translate %}
<br>
<section class="content">
  <form role="form" action="/assignments/get_subject_resource/" method="POST">
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">


          <h4>Select subject </h4>
          <select class="form-control btn btn-secondary dropdown-toggle" name="subject">
            {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
            {% endfor %}
          </select>
          <br><br><br>
          <select class="form-control btn btn-secondary dropdown-toggle" name="action">

            <option value="create_resource">Create resource</option>
            <option value="view_resource">View resource</option>

          </select>

        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
    <div>

      <button class="btn btn-primary" id="fetch_resources">Go</button>
    </div>
  </form>

</section>



<!-- /.content -->
{% endblock main_content %}