{% extends 'staff_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Add Result
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    {% google_translate %}
      <br>
      <section class="content">
          <form role="form" action="/select_class" method="post">
               {% csrf_token %}
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-5">


                <h4>Select Semester </h4>
                <select  class="form-control btn btn-secondary dropdown-toggle" name="session_year">
                  {% for session_year in session_years %}
                  <option value="{{ session_year.id }}" id="session_year">{{ session_year.name }}->{{ session_year.session_start_year }} TO {{ session_year.session_end_year }}</option>
                  {% endfor %}
                </select>
              </div>
          </div>
      </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      <div>

        <button class="btn btn-primary" id="fetch_class" type="Submit">Submit</button>
      </div>
       <div id="class_data" class="card-footer">

                </div>
          </form>
    </section>

{% endblock %}

