{% extends 'hod_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Add Student
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
{% google_translate%}
<style>
  .invalid:before {
    position: relative;
    left: -35px;
    content: "\274C";
  }

  .valid:before {
    position: relative;
    left: -35px;
    content: "\2714";
  }
</style>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- general form elements -->
      <div class="card card-primary w-100">
        <div class="card-header">
          <h3 class="card-title">Add Student</h3>
        </div>
        <!-- /.card-header -->
        <div class="form-group">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
        {% endif %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
        <!-- form start -->
        <form role="form" action="/add_student_save" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter email" id="id_email"
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b"
                    title="Please enter valid email id" autocomplete="off">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Password" id="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required name="password">
                </div>
                <div id="message">
                  <h6>Password must contain the following:</h6>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                </div>

                <div class="form-group">
                  <label>Date Of Birth</label>
                  <input type="date" class="form-control" placeholder="Date Of Birth" name="dob" required>
                </div>

                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" name="gender" required>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Blood Group</label>
                  <select class="form-control" name="blood_group" required>
                    <option value="A+">A+</option>
                    <option value="O+">O+</option>
                    <option value="B+">B+</option>
                    
                    <option value="AB+">AB+</option>
                    <option value="A-">A-</option>
                    <option value="O-">O-</option>
                    <option value="B-">B-</option>
                    <option value="AB-">AB-</option>
                    <option value="Other">Other</option>

                  </select>
                </div>
             
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Class</label>
                  <select class="form-control" name="course" required>
                    {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.course_name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label>Roll Number</label>
                  <input type="text" class="form-control" placeholder="Roll Number" name="roll_number"
                    id="id_roll_number" required autocomplete="off">
                </div>
                <div class="form-group">
                  <label>Semester</label>
                  <select class="form-control" name="session_year_id" required>
                    {% for session in sessions %}
                    <option value="{{ session.id }}">{{session.name}}->{{ session.session_start_year }} TO {{ session.session_end_year }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label>Profile Picture</label>
                  <input type="file" class="form-control" placeholder="Upload Your Picture"
                    accept="image/png, image/jpeg" name="profile_pic" required>
                </div>

                <div class="form-group">
                  <label>Phone Number</label>
                  <input type="tel" class="form-control" placeholder="Phone Number" name="ph_no" required="True" max="10"
                   title="Enter a valid 10 digit number">
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Address" name="address" required>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="card card-primary w-100">
                <div class="card-header">
                  <h3 class="card-title">Parent Details :</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" name="parent_email" placeholder="Enter email"
                          autocomplete="off" id="parent_id_email"
                          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b"
                          title="Please enter valid email id(add a domain part)">
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="parent_password"
                          id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                          required>
                      </div>
                      <div id="message">
                        <h6>Password must contain the following:</h6>
                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                        <p id="number" class="invalid">A <b>number</b></p>
                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                      </div>

                      <!-- <div class="form-group">
                        <label>Parent ID</label>
                        <input type="text" class="form-control" placeholder="Parent ID" name="parent_roll_number" autocomplete="off" id="parent_id_roll_number">
                      </div>-->
                      <div class="form-group">
                        <label>Father's Name</label>
                        <input type="text" class="form-control" placeholder="Father's Name" name="father_name" required>
                      </div>
                      <div class="form-group">
                        <label>Father's Occupation</label>
                        <input type="text" class="form-control" placeholder="Father's Occupation"
                          name="father_occupation" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Mother's Name</label>
                        <input type="text" class="form-control" placeholder="Mother's Name" name="mother_name" required>
                      </div>
                      <div class="form-group">
                        <label>Mother's Occupation</label>
                        <input type="text" class="form-control" placeholder="Mother's Occupation"
                          name="mother_occupation" required>
                      </div>
                      <div class="form-group">
                        <label>Phone Number</label>
                        <input type="tel" class="form-control" placeholder="Phone Number" name="parent_ph_no" max="10" 
                          title="Enter a valid 10 digit number" required="True">
                      </div>
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Address" name="parent_address">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      

    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Add Student Details</button>
      <button type="reset" class="btn btn-danger float-right">Reset</button>
    </div>
    </form>
  </div>
  <!-- /.card -->



  </div>
  </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
  $(document).ready(function () {
    $("#id_email").keyup(function () {
      var email = $(this).val();

      if (email != "") {
        $.ajax({
          url: '{% url 'check_email_exist' %}',
          type: 'POST',
          data: { email: email }
        })
          .done(function (response) {
            console.log(response);
            if (response == "True") {
              $(".email_error").remove();
              $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold;'>Email ID Already exits Try Unique</span>").insertAfter("#id_email");
            }
            else {
              $(".email_error").remove();
              $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold;'>Email is unique</span>").insertAfter("#id_email");
            }
          })
          .fail(function () {
            console.log("failed");
          })
      }
      else {
        $(".email_error").remove();
      }

    });


    $("#parent_id_email").keyup(function () {
      var parent_email = $(this).val();

      if (parent_email != "") {
        $.ajax({
          url: '{% url 'check_parent_email_exist' %}',
          type: 'POST',
          data: { parent_email: parent_email }
        })
          .done(function (response) {
            console.log(response);
            if (response == "True") {
              $(".parent_email_error").remove();
              $("<span class='parent_email_error' style='padding: 5px;color: red;font-weight: bold;'> This Email is Already Associated</span>").insertAfter("#parent_id_email");
            }
            else {
              $(".parent_email_error").remove();
              $("<span class='parent_email_error' style='padding: 5px;color: green;font-weight: bold;'>Email Available</span>").insertAfter("#parent_id_email");
            }
          })
          .fail(function () {
            console.log("failed");
          })
      }
      else {
        $(".parent_email_error").remove();
      }

    });


    $("#id_roll_number").keyup(function () {
      var roll_number = $(this).val();

      if (roll_number != "") {
        $.ajax({
          url: '{% url 'check_roll_number_exist' %}',
          type: 'POST',
          data: { roll_number: roll_number }
        })
          .done(function (response) {
            console.log(response);
            if (response == "True") {
              $(".roll_number_error").remove();
              $("<span class='roll_number_error' style='padding: 5px;color: red;font-weight: bold;'>Roll Number Not Available</span>").insertAfter("#id_roll_number");
            }
            else {
              $(".roll_number_error").remove();
              $("<span class='roll_number_error' style='padding: 5px;color: green;font-weight: bold;'>Roll Number Available</span>").insertAfter("#id_roll_number");
            }
          })
          .fail(function () {
            console.log("failed");
          })
      }
      else {
        $(".roll_number_error").remove();
      }

    });







    $("#id_username").keyup(function () {
      var username = $(this).val();

      if (username != "") {
        $.ajax({
          url: '{% url 'check_username_exist' %}',
          type: 'POST',
          data: { username: username }
        })
          .done(function (response) {
            console.log(response);
            if (response == "True") {
              $(".username_error").remove();
              $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Not Available</span>").insertAfter("#id_username");
            }
            else {
              $(".username_error").remove();
              $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>Username Available</span>").insertAfter("#id_username");
            }
          })
          .fail(function () {
            console.log("failed");
          })
      }
      else {
        $(".username_error").remove();
      }

    });


    $("#parent_id_username").keyup(function () {
      var parent_username = $(this).val();

      if (parent_username != "") {
        $.ajax({
          url: '{% url 'check_parent_username_exist' %}',
          type: 'POST',
          data: { parent_username: parent_username }
        })
          .done(function (response) {
            console.log(response);
            if (response == "True") {
              $(".parent_username_error").remove();
              $("<span class='parent_username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Already Associated</span>").insertAfter("#parent_id_username");
            }
            else {
              $(".parent_username_error").remove();
              $("<span class='parent_username_error' style='padding: 5px;color: green;font-weight: bold;'>Username Available</span>").insertAfter("#parent_id_username");
            }
          })
          .fail(function () {
            console.log("failed");
          })
      }
      else {
        $(".parent_username_error").remove();
      }

    });
    var myInput = document.getElementById("password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
      document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
      document.getElementById("message").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g;
      if (myInput.value.match(lowerCaseLetters)) {
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
      }

      // Validate capital letters
      var upperCaseLetters = /[A-Z]/g;
      if (myInput.value.match(upperCaseLetters)) {
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }

      // Validate numbers
      var numbers = /[0-9]/g;
      if (myInput.value.match(numbers)) {
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }

      // Validate length
      if (myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }
    }
  });
</script>
{% endblock custom_js %}