{% extends 'hod_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Add Semester
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    {% google_translate%}
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Semester</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_session_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Semester name </label>
                    <input type="text" class="form-control" name="semester_name" placeholder="Enter semester name">
                  </div>
                  <div class="form-group">

                    <label>Semester start date </label>
                    <input type="date" class="form-control" name="session_start" placeholder="Enter semester start date">
                  </div>

                 <div class="form-group">
                    <label>Semester end date </label>
                    <input type="date" class="form-control" name="session_end" placeholder="Enter semester end date">
                  </div>


                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Add Semester</button>
                    <button type="reset" class="btn btn-primary float-right"> Reset </button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}