{% extends 'hod_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Manage Subjects
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
{% google_translate%}
      <br>
      <section class="content">
          <form role="form" action="/select_action_subject/{{session_year}}/" method="POST">
               {% csrf_token %}
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-4">


                <h4>Select Class </h4>
                <select  class="form-control btn btn-secondary dropdown-toggle" name="course">
                  {% for course in courses %}
                  <option value="{{ course.id }}">{{ course.course_name }}</option>
                  {% endfor %}
                </select><br><br><br>
                <select  class="form-control btn btn-secondary dropdown-toggle" name="action">
                  
                  <option value="fetch_subject">Fetch subject details</option><br>
                  <option value="add_subject">Add subject</option><br>
                  
                </select>
              </div>
          </div>
      </div><br><br><br><br><br><br><br>
      <div>

       <input type="submit" class="btn btn-primary" value="Go">

      </div>
          </form>
    </section>



    <!-- /.content -->
{% endblock main_content %}
