{% extends 'student_template/base_template.html' %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;">
My Notes
{% endblock page_title %}
{% block main_content %}

<div class="container">

	<div class="row">

			{% for subject in subjects%}
			<div class="card card-primary mb-3 ml-3 mr-3">
				<div class="card-title mb-3 ml-3 mr-3">
					<span style="font-weight: bolder;"><br>{{subject.subject_name|safe}}<br></span>
					
				</div>
				<div class="card-body">
					<strong><a href="/notes/{{subject.id}}/">View notes</a></strong>
					<br>
					<strong><a href="{% url 'notes:upload_notes' subject.id %}">
					Upload notes</a></strong>
					<br>
					<strong><a href="{% url 'notes:write_notes' subject.id %}">Write notes</a></strong>
            
            
				</div>
			</div>
			{% endfor %}
			<br>
		
	</div>

</div>



{% endblock %}