{% extends 'student_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
{{notes.name}}
{% endblock page_title %}
{% block main_content %}
{% google_translate %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-lg-1 offset-md-1">
			
			<div style="background-color: white;">
				{{notes.note_text|safe}}<br>
			</div>
			<span style="font-size: 0.9rem;color: grey;">{{notes.post_time}}</span><br><br>

		</div>
		<div class="col-lg-2 col-md-2 col-xs-6">
			<a href="/notes/{{notes.id}}/edit/"><button type="button" class="btn btn-primary">Edit</button></a>
			
		</div>
		
	</div>
</div>



{%endblock%}