{% extends 'student_template/base_template.html' %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;">
{{quiz.quiz_name}}
{% endblock page_title %}
{% block main_content %}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{quiz.quiz_name}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="form-group">
                           
                               

                                Questions <br>
                                <ol>
                                {% for qtn in questions %}
                                    
                                    <li>
                                         {% csrf_token %}
                                         <form method="POST" action="{% url 'assignments:quiz_question_detail' quiz.id qtn.id %}">
                                    <div>


                                    <div>
                                        {% if qtn.question_type == "subjective" %}
                                            <a href="{% url 'assignments:quiz_question_detail' quiz.id qtn.id %}">{{qtn.question_text|safe}}</a><br>


                                            <span style="font-size: 1rem;">
                                            Marks: {{qtn.question_marks}}</span><br>
                                            <a href="{% url 'assignments:quiz_question_detail' quiz.id qtn.id %}">Click Here To Answer</a><br>   
                                        {% elif qtn.question_type == "objective" %}
                                           <a href="{% url 'assignments:quiz_question_detail' quiz.id qtn.id %}"> {{qtn.question_text|safe}}</a><br>
                                            
                                            {% for choice in choices %}

                                                {% if choice.question.id == qtn.id %}
                                                 <br>
                                                    1. {{choice.choice1}}<br>
                                                    2. {{choice.choice2}}<br>
                                                    3. {{choice.choice3}}<br>
                                                    4. {{choice.choice4}}<br>
                                                    
                                                     
                                                 <hr>    
                                                <a href="{% url 'assignments:quiz_question_detail' quiz.id qtn.id %}">Click Here To Answer</a><br>      
                                                {% endif %}
                                            {% endfor %}

                                            <span style="font-size: 1rem;">Marks :{{qtn.question_marks}}</span><br><br>
                                            
                                            
                                        {% endif %}

                                    </div>
                                   
                                </li>

                                {% endfor %}
                            </ol>
                                <div>
                                   
                                </div>
                            
                            </div>
                            
                        </div>

                    </div>
                    <!-- /.card -->



                </div>
            </div>
        </div>
        <button class="btn  btn-primary" ><a href="{% url 'assignments:all_quizzes_students'  %}" style="color:white;">Submit Quiz</a>
        </button>
</section>
{% endblock %}
