{% extends 'student_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Lecture URLs
{% endblock page_title %}
{% block main_content %}
{% google_translate %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">View Lecture URLs</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="form-group">
                            {% for link in links reversed %}
                            <div>
                                {{link.description}}<br>
                                <a href="{{link.link}}" target="_blank">{{link.link}}</a><br>
                                {{link.subject.subject_name}}
                            </div><br>
                            {% endfor %}
                        </div>

                    </div>
                    <!-- /.card -->



                </div>
            </div>
        </div>
</section>
{% endblock %}