
{% extends 'student_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Assignments
{% endblock page_title %}
{% load thumbnail %}
{% block main_content %}
{% google_translate %}
<br>
<style>
    .verticalLine {
  border-left: thick solid #ff0000;
}
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
               
        
        <div class="card card-primary" >
            <div class="card-header">
                <h3 class="card-title">View Assignments</h3>
            </div>
        <div class="card-body">
            <div class="form-group">
                <ol class="list-group list-group-flush">
                <div class="row ">
            <!-- <div class="col-md-12"> -->
                <!-- general form elements -->
                
            {% for assignment in assignments reversed %}
            <li class="list-group-item ">
                <a href="{% url 'assignments:view_single_assignment' assignment.id %}">
                
                <div class="card text-white bg-dark mb-5 " style="width: 22rem;">
                    <div class="card-body ">
                    Assignment : {{ assignment.description }}<br>
                    <br>
                    </div>
                </div>
                </a>
            </li>
                {% if forloop.counter|divisibleby:3 %}
            <!-- </div> -->
            <div class="row ">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        </ol>
    </div>
</div>

</div>

</section>
{% endblock %}


{% block custom_js %}
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock custom_js %}

<!-- {% thumbnail assignment.file "200x200" as im %}
                                <img src="{{ im.url }}">
                                {% endthumbnail %} -->
                                <!-- {% thumbnail "http://www.aino.se/media/i/logo.png" "40x40" crop="80% top" as im %}     <img src="{{ im.url }}"> {% endthumbnail %} -->
                                <!-- <embed src="{{assignment.file.url}}"  width="100%" height="100px"> -->