{% extends 'staff_template/base_template.html' %}
{% load google_translate %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;" class="notranslate">
Submission
{% endblock page_title %}
{% block main_content %}
{% google_translate %}


<br><br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Submission</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="form-group">
                            
                            <div>
                                <ol>
                               {% for sub in submission %} 
                               <li>
                                Question : {{sub.question.question_text|safe}}<br>
                                Marks: {{sub.question.question_marks}}<br>
                                Answer : {{sub.answer_text}}<br><hr>
                            </li>
                                <div>
                                  {% endfor %} 
                                </div>

                            </div>
                            
                        </div>

                    </div>
                    <!-- /.card -->



                </div>
            </div>
        </div>
</section>
{% endblock %}
