{% extends 'staff_template/base_template.html' %}
{% block page_title %}
<input type=button value="&#129128" onClick="javascript:history.go(-1);" style="border: none; color:none;">
Assignments
{% endblock page_title %}
{% block main_content %}
<br>
<section class="content">
      <div class="container-fluid">
                    <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Submissions</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                   <div class="form-group">
                        {% for submission in submissions reversed %}
                            <div>
                                Name of student: <a href="{{ submission.file_submitted.url }}" style="color: #209dd4">{{ submission.user.student_name }}</a><br>
                                Time of submission: {{ submission.time_submitted }}<br>
                                Maximum marks : {{ submission.assignment.max_marks }}<br>
                                {% if submission.marks %}
                                Marks obtained : {{ submission.marks }}<br>
                                <br>
                                {% else %}

                                  <button class="btn btn-primary float-right" type="submit"><a href="" style="color: white;"> Grade</a></button>
                                  <form method="POST" class="float-right" action="/view_all_submissions/" style="margin-right: 1rem;"><input type="number" min='0' name="marks" placeholder="Enter Marks" value="{{ marks }}"></form>&nbsp; &nbsp; <br><br>
                                {% endif %}
                            </div>
                        {% endfor %}
                      
                  </div>

                </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
{% endblock %}
<!--<div class="container-fluid songs-container">

    <div class="row">
       
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">

                <div class="panel-body">
                    <a href="{% url 'assignments:instructor_detail' course.id %}">
                        <!-- {% if course.course_logo %}
                        <img src="{{ course.course_logo.url }}" class="img-responsive">
                        {% else %}
                        <h3>No image to display</h3>
                        {% endif %} -->
                    </a>
                    <h1 align="center">{{ course.code }}<br> <small>{{ course.name }}</small></h1>
                    <h2 align="center">{{ course.instructor }}</h2>
                </div>
            </div>
        </div>




        <div class="col-sm-7"
            style="align:center; overflow-y: scroll; height:650px;border: 3px solid #66cdaa;background-color:#e3f0e8;color:black;font-family: 'Abhaya Libre';font-size:16px;">
            <h3 align="center" ; style="text-align:center;font-family:Volkhov,cursive;font-size:40px;color: #728892">
                Submissions</h3>

            {% for submission in submissions reversed %}
            <div style="background-color:#CDD8CD; border-radius:2%;padding:10px; margin:5px">
                <a href="{{ submission.file_submitted.url }}" style="color: #209dd4">Name of student: {{ submission.user.student_name }}</a><br>
                Time of submission: {{ submission.time_submitted }}<br>
            </div>
            {% endfor %}
        </div>

    </div>-->
 